body {
    background-color: #2C3A47;
    color: #ffffff;
  }
  
a {
color: #bb86fc;
}

.masthead {
background-color: #1e272e;
}

nav {
    background-color: #1e272e;
}

.greedy-nav {
    background-color: #1e272e;
    color: #ffffff;
}